main .woocommerce-checkout{display:grid; gap:0 5rem; margin-bottom:6rem;}
p:has(label){display:grid;}
p :is(input,textarea){width:100%;}
#customer_details .col-1 h3{font-size:24px; margin-bottom:3rem;}
#customer_details .col-1 .woocommerce-billing-fields__field-wrapper{display:grid; gap:2rem;}
#customer_details .col-2{padding:3rem; border:1px solid var(--wp--preset--color--line);}
#customer_details .col-2 h3{font-size:24px; margin-bottom:3rem;}
#order_comments_field label{color:var(--wp--preset--color--title);}
abbr[title]{color:red; text-decoration:none;}
#order_review_heading{font-size:24px;}
.shop_table.woocommerce-checkout-review-order-table{width:100%;margin:27px 0 21px;border-collapse:collapse;}
.shop_table.woocommerce-checkout-review-order-table tr{display:flex;align-items:center;justify-content:space-between;background-color:#fafafa;border:1px solid #e1e1e1;border-bottom:0px solid transparent;}
.shop_table.woocommerce-checkout-review-order-table tr > *{padding:15px 22px;}

.woocommerce-terms-and-conditions-wrapper{margin-bottom:2rem;}
#place_order{
    font-size:16px;;
    display: grid;
    width: 100%;
    height:44px;
    place-content: center;
    border: 1px solid #323232;
    background-color: #323232;
    color: #fff;
    font-weight:400;
    transition:all .3s ease;
}
#place_order:hover{
    filter:brightness(1.5);
}

@media(min-width:1024px){
    main .woocommerce-checkout{grid-template-columns:var(--grid-template-columns--carrito); grid-template-rows:auto 1fr;}
    #customer_details{grid-column:1/2; grid-row:1/3;}
    #order_review_heading{grid-column:2/3;}
    #order_review{grid-column:2/3; align-self:baseline;}
}

/* 
.cart-collaterals .cart_totals table.shop_table{width:100%;margin:27px 0 21px;}
.cart-collaterals .cart_totals table.shop_table tbody tr{display:flex;align-items:center;justify-content:space-between;background-color:#fafafa;border:1px solid #e1e1e1;}
.cart-collaterals .cart_totals table.shop_table tbody tr.cart-subtotal{border-bottom:0px solid transparent;}
.cart-collaterals .cart_totals table.shop_table tbody tr > *{padding:15px 22px;font-weight:400;color:var(--wp--preset--color--title);}
.cart-collaterals .cart_totals table.shop_table tbody tr > * strong{font-weight:400;color:var(--wp--preset--color--title);} */