#main .container .section{width:min(100% - 30px, 1220px); margin-inline:auto;}
#main .container.product-wrapper .section{width:min(100%, 1220px); margin-inline:auto;}

/* breadcrumb */
#main .container.breadcrumb-wrapper{background-color:var(--wp--preset--color--line); padding-top:20px; display:var(--display--breadcrumb-single-product);}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb{display:inline-flex; flex-wrap:wrap; gap:0 7px; font-size:14px;}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb a{color:var(--wp--preset--color--title);}

/* datos del producto */
#main .container.product-wrapper{background-color:var(--wp--preset--color--line);}

/* navegación de galería */
.flex-control-nav{padding-left:0; list-style:none;}

/* galería */
.woocommerce-product-gallery__image a img{width:100%;}

/* icono de zoom de la galería */
.woocommerce-product-gallery__trigger {
    display: block;
    /* position: absolute;
    top: 5px;
    right: 5px; */
    z-index: 10;
    font-size: 0;
    color: inherit;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    display:var(--display--breadcrumb-single-product);
}

.no-bg-color .woocommerce-product-gallery__trigger {
    top: 21px;
    right: 21px;
}

.has-featured-video .woocommerce-product-gallery__trigger {
    display: none;
}

.woocommerce-product-gallery__trigger:hover {
    color: #dc9814;
}

.woocommerce-product-gallery__trigger:after {
    font-family: 'nm-font';
    font-size: 20px;
    line-height: 20px;
    content: "\e114";
}


/* precio */
.product .summary .price{line-height:1; vertical-align:top; margin-bottom:0; padding:12px 0 24px;}
.product .summary .price.has-sale-flash{padding-top:24px;}
.product .summary .price .amount{font-size:20px; line-height:1; color:#dc9814;}
.product .summary .price del,.product .summary .price ins{text-decoration:none; vertical-align:top;}
.product .summary .price ins{color:#dc9814; text-decoration:none; background:none;}
.product .summary .price del .amount{font-size:14px; color:inherit; text-decoration:line-through; vertical-align:super;}
.product .summary .price .onsale{display:inline; position:static; padding:4px 7px; border-radius:16px; font-size:13px; color:inherit; margin-left:10px; border:1px solid; vertical-align:middle; background:none;}

/* star rating */
.star-rating {position:relative; display:inline-block; line-height:26px; width:116px; height:26px; overflow:hidden;}
.star-rating:before,
.star-rating span:before{position:absolute; top:0; font-family:'nm-font'; font-style:normal; font-weight:400; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; line-height:26px;}
.star-rating:before{left:9px; content:"\e61f\e61f\e61f\e61f\e61f"; font-size:7px; color:#aaa; letter-spacing:15px;}
.star-rating span:before{left:0; content:"\e606\e606\e606\e606\e606"; font-size:27px; color:#dc9814; letter-spacing:-5px;}
.star-rating span {position:absolute; top:0; left:0; padding-top:26px; overflow:hidden;}
/* quita el contador de cantidad de valoraciones */
.woocommerce-review-link{display:none;}

/* pestañas */
.tabs.wc-tabs{padding-left:0; padding-top:18px; list-style:none;}
.tabs.wc-tabs li{display:flex; align-items:center; height:38.59px;}
.tabs.wc-tabs li a{color:#a1a1a1; border-bottom:1px solid transparent; display:block; width:fit-content; display:flex; align-items:center; height:33px; border-radius:0;}
.tabs.wc-tabs li.active a{color:var(--wp--preset--color--title); border-bottom-color:#e0e0e0;}
.woocommerce-Tabs-panel{padding:var(--padding--tabs-panel);}
.woocommerce-Tabs-panel > *:not(:last-child){margin-bottom:24px;}
.woocommerce-Tabs-panel > :is(ol, ul){padding-left:15px;}
.woocommerce-Tabs-panel--description{width:var(--width--tab-description); margin-inline:auto;}  
    /* pestaña informqción adicional */
    .shop_attributes {width:100%;}
    .shop_attributes tr th,.shop_attributes tr td{font-size:16px; line-height:1.6; padding-bottom:19px; text-align:left; font-weight:400;}
    .shop_attributes tr:last-child th,.shop_attributes tr:last-child td{padding-bottom:0;}
    .shop_attributes th{color:#282828; width:23%; min-width:120px; padding-right:10px;}
    .shop_attributes td{width:77%;}
    .product .summary .nm-additional-information-inner{padding-top:2px; padding-bottom:2px;}
    .product .summary .shop_attributes tr th,.product .summary .shop_attributes tr td{font-size:inherit; padding-bottom:12px;}
    .product .summary .shop_attributes tr:last-child th,.product .summary .shop_attributes tr:last-child td{padding-bottom:0;}
    /* pestaña valoraciones */
    #comments{padding:0;}
    #tab-title-reviews a span{position:relative; margin-left:7px; top:-7px; font-size:14px; color:var(--wp--preset--color--links);}
    #comments .woocommerce-Reviews-title{display:none;}
    .commentlist,
    #review_form_wrapper{width:min(100%, 802px); margin-inline:auto;}
    .commentlist li:not(:first-child){border-top:none;}
    .commentlist li .comment_container{position:relative;}
    .commentlist li .comment_container img{border-radius:50%; position:absolute; top:0; left:0; display:var(--display--avatar);}
    .commentlist li .comment_container .comment-text{text-align:left; font-size:16px; padding-bottom:28px; margin:var(--margin--comment-text);}
    .commentlist li:not(:last-child) .comment_container .comment-text{border-bottom:1px solid #f0f0f0;}
    .commentlist li .comment_container .comment-text .star-rating{position:absolute; top:0; right:0;}
    .commentlist li .comment_container .comment-text .meta{display:grid;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__author{color:var(--wp--preset--color--title); font-size:18px; font-weight:400;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__dash{display:none;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__published-date{color:#a1a1a1; font-size:var(--font-size--review--published-date);}
    .commentlist li .comment_container .comment-text .description{padding-top:19px; color:var(--wp--preset--color--text); font-size:var(--font-size--review--description);}
    #respond{padding-top:0;}
    #reply-title{display:block; font-size:24px; padding-bottom:34px;}
    .comment-form-rating{display:grid; margin-bottom:25px;}
    .comment-form-rating label{color:var(--wp--preset--color--title);}
    .required{color:var(--wp--preset--color--text);}

/* información meta */
.meta-wrapper{padding:20px 0 18px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; text-align:var(--text-align--meta); font-size:14px;}
.meta-wrapper .section .product_meta{display:var(--display--product-meta);}
.meta-wrapper .section .product_meta > span:not(:last-child){margin-right:14px;}
.meta-wrapper .section .product_meta span{color:var(--wp--preset--color--title); line-height:2;}
.meta-wrapper .section .product_meta span :is(span, a){color:#a1a1a1;}
.meta-wrapper .section .product_meta span a:hover{color:var(--wp--preset--color--links);}

/* star rating · puesta de calificación */
#review_form .comment-form-rating .stars {display:inline-block; height:28px; overflow:hidden; margin-bottom:0; margin-left:-7px;}
#review_form .comment-form-rating .stars span{display:block}
#review_form .comment-form-rating .stars a{position:relative; display:inline-block; color:inherit; width:23px; text-indent:-1000em; overflow:hidden}
#review_form .comment-form-rating .stars:hover a,
#review_form .comment-form-rating .stars.has-active a{color:#dc9814;}
#review_form .comment-form-rating .stars a:hover ~ a,
#review_form .comment-form-rating .stars.has-active a.active ~ a{color:inherit;}
#review_form .comment-form-rating .stars a:before {position:absolute; top:0; left:0; font-family:'nm-font'; font-size:28px; font-style:normal; font-weight:400; line-height:1; content:"\e606"; text-indent:0;}
.comment-form-rating .stars.selected span .star-1.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-2.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-3.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-4.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-5.active{color:#dc9814!important;}
