#main .container .section{width:min(100% - 30px, 1220px); margin-inline:auto;}
#main .container.product-wrapper .section{width:min(100%, 1220px); margin-inline:auto;}

/* contenedor de breadcrumbs y paginación */
#main .container .section.breadcrumb-and-pagination{display:flex; align-items:center; justify-content:space-between; flex-direction:row-reverse;}
#main .container .section.breadcrumb-and-pagination .single-product-pagination{display:flex; align-items:center; gap:10px;}
#main .container .section.breadcrumb-and-pagination .single-product-pagination a{font-size:12px; color:#a1a1a1; display:block;}
#main .container .section.breadcrumb-and-pagination .single-product-pagination a:hover{color:#dc9814;}
#main .container .section.breadcrumb-and-pagination .single-product-pagination .left a{transform:scaleX(-1);}

/* breadcrumb */
#main .container.breadcrumb-wrapper{background-color:#fff; padding-top:20px; display:var(--display--breadcrumb-single-product);}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb{display:inline-flex; flex-wrap:wrap; gap:0 7px; font-size:14px;}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb a{color:var(--wp--preset--color--title);}

/* datos del producto */
#main .container.product-wrapper{background-color:var(--background--product-wrapper);}

/* navegación de galería */
.flex-control-nav{padding-left:0; list-style:none;}

/* galería */
.woocommerce-product-gallery{padding-top:var(--padding-top--gallery);}

/* icono de zoom de la galería */
.woocommerce-product-gallery__trigger{z-index:10; font-size:0; color:inherit; width:20px; height:20px; margin-right:15px; display:var(--display--gallery-trigger);}
.has-featured-video .woocommerce-product-gallery__trigger{display:none;}
.woocommerce-product-gallery__trigger:after{font-family:'nm-font'; font-size:20px; line-height:20px; content:"\e114";}

/* resumen */
.summary{padding:40px 15px 0; overflow:hidden;}
.summary .product_title.entry-title{font-size:var(--font-size--product-title); margin-bottom:22px;}
.summary .woocommerce-product-details__short-description{margin-bottom:22px;}

/* agregar al carrito · producto variable */
table.variations{width:100%; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc; margin-top:22px;}
table.variations tbody tr{display:flex; align-items:center; justify-content:space-between; padding:3px 16px;}
table.variations tbody tr th.label label{font-weight:400; color:var(--wp--preset--color--title);}
.woo-variation-swatches.wvs-show-label .variations th .woo-selected-variation-item-name{display:none;}
.woo-variation-swatches .variable-items-wrapper{gap:10px;}
.variations_form .single_variation_wrap{display:grid; gap:22px;}
.variations_form .single_variation_wrap .woocommerce-variation-add-to-cart{order:1;}
    .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity{display:flex; align-items:center; justify-content:end; padding:0 18px; height:42px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity button{width:21px; height:21px; border:1px solid transparent; background-color:transparent; display:grid; place-content:center; color:var(--wp--preset--color--title); font-size:18px;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type=number]{width:50px; height:21px; display:flex; align-items:center; text-align:center; border:1px solid transparent; background-color:transparent;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type=number]:focus{outline:none;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type=number]::-webkit-inner-spin-button, 
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .quantity input[type=number]{-moz-appearance:textfield;}
        .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart .single_add_to_cart_button{width:100%; padding:14px; color:#fff; background-color:var(--wp--preset--color--title); border:1px solid var(--wp--preset--color--title); font-size:16px;}
.variations_form .single_variation_wrap .woocommerce-variation{order:2;}
/* agregar al carrito · producto simple */
.cart .quantity{display:flex; align-items:center; justify-content:end; padding:0 18px; height:42px; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc;}
        .cart .quantity button{width:21px; height:21px; border:1px solid transparent; background-color:transparent; display:grid; place-content:center; color:var(--wp--preset--color--title); font-size:18px;}
        .cart .quantity input[type=number]{width:50px; height:21px; display:flex; align-items:center; text-align:center; border:1px solid transparent; background-color:transparent;}
        .cart .quantity input[type=number]:focus{outline:none;}
        .cart .quantity input[type=number]::-webkit-inner-spin-button, 
        .cart .quantity input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;}
        .cart .quantity input[type=number]{-moz-appearance:textfield;}
.cart .single_add_to_cart_button{width:100%; padding:14px; color:#fff; background-color:var(--wp--preset--color--title); border:1px solid var(--wp--preset--color--title); font-size:16px;}
    /* swatches */
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item{width:19px; height:19px;}
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){box-shadow:var(--wvs-item-box-shadow,0 0 0 1px transparent); padding:0;}
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover{box-shadow:var(--wvs-selected-item-box-shadow,0 0 0 1px #444444ab);}
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover{box-shadow:var(--wvs-selected-item-box-shadow,0 0 0 1px #444444ab);}
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).image-variable-item.selected:not(.no-stock) .variable-item-contents:before{background-image:none;}

/* añadir a la lista de deseos y compartir */
.wishlist-button-and-share--wrapper{display:inline-flex; flex-wrap:wrap; gap:0 15px; margin-top:22px;}
.wishlist-button-and-share--wrapper .yith-wcwl-add-to-wishlist{margin-top:0; padding-right:15px; border-right:1px solid #dadada; display:flex; align-items:center; height:20px;}
.wishlist-button-and-share--wrapper .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > a i{margin-right:0;}
.wishlist-button-and-share--wrapper .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a.add_to_wishlist,
.wishlist-button-and-share--wrapper .share a{color:#a1a1a1;}
.wishlist-button-and-share--wrapper .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a.add_to_wishlist:hover,
.wishlist-button-and-share--wrapper .share a:hover{color:var(--wp--preset--color--title);}
.wishlist-button-and-share--wrapper .share a:not(:last-child){margin-right:15px;}
.wishlist-button-and-share--wrapper .share a svg{width:18px; height:18px;}

/* precio */
.product .summary .price{line-height:1; vertical-align:top; margin-bottom:0; padding:12px 0 24px;}
.product .summary .price.has-sale-flash{padding-top:24px;}
.product .summary .price .amount{font-size:20px; line-height:1; color:#dc9814;}
.product .summary .price del,.product .summary .price ins{text-decoration:none; vertical-align:top;}
.product .summary .price ins{color:#dc9814; text-decoration:none; background:none;}
.product .summary .price del .amount{font-size:14px; color:inherit; text-decoration:line-through; vertical-align:super;}
.product .summary .price .onsale{display:inline; position:static; padding:4px 7px; border-radius:16px; font-size:13px; color:inherit; margin-left:10px; border:1px solid; vertical-align:middle; background:none;}

/* star rating */
.star-rating {position:relative; display:inline-block; line-height:26px; width:116px; height:26px; overflow:hidden;}
.star-rating:before,
.star-rating span:before{position:absolute; top:0; font-family:'nm-font'; font-style:normal; font-weight:400; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; line-height:26px;}
.star-rating:before{left:9px; content:"\e61f\e61f\e61f\e61f\e61f"; font-size:7px; color:#aaa; letter-spacing:15px;}
.star-rating span:before{left:0; content:"\e606\e606\e606\e606\e606"; font-size:27px; color:#dc9814; letter-spacing:-5px;}
.star-rating span {position:absolute; top:0; left:0; padding-top:26px; overflow:hidden;}
/* quita el contador de cantidad de valoraciones */
.woocommerce-review-link{display:none;}

/* pestañas */
.tabs.wc-tabs{padding-left:0; padding-top:18px; list-style:none;}
.tabs.wc-tabs li{display:flex; align-items:center; height:38.59px;}
.tabs.wc-tabs li a{color:#a1a1a1; border-bottom:1px solid transparent; display:block; width:fit-content; display:flex; align-items:center; height:33px; border-radius:0;}
.tabs.wc-tabs li.active a{color:var(--wp--preset--color--title); border-bottom-color:#e0e0e0;}
.woocommerce-Tabs-panel{padding:var(--padding--tabs-panel);}
.woocommerce-Tabs-panel > *:not(:last-child){margin-bottom:24px;}
.woocommerce-Tabs-panel > :is(ol, ul){padding-left:15px;}
.woocommerce-Tabs-panel--description{width:var(--width--tab-description); margin-inline:auto;}  
    /* pestaña informqción adicional */
    .woocommerce-Tabs-panel--additional_information{width:min(100%, 820px); margin-inline:auto;}
    .shop_attributes {width:100%;}
    .shop_attributes tr th,.shop_attributes tr td{font-size:16px; line-height:1.6; padding-bottom:19px; text-align:left; font-weight:400;}
    .shop_attributes tr:last-child th,.shop_attributes tr:last-child td{padding-bottom:0;}
    .shop_attributes th{color:#282828; width:23%; min-width:120px; padding-right:10px;}
    .shop_attributes td{width:77%;}
    .product .summary .nm-additional-information-inner{padding-top:2px; padding-bottom:2px;}
    .product .summary .shop_attributes tr th,.product .summary .shop_attributes tr td{font-size:inherit; padding-bottom:12px;}
    .product .summary .shop_attributes tr:last-child th,.product .summary .shop_attributes tr:last-child td{padding-bottom:0;}
    /* pestaña valoraciones */
    .woocommerce-noreviews{text-align:left; font-size:14px; color:var(--wp--preset--color--text); max-width:820px; margin-inline:auto;}
    #comments{padding:0;}
    #tab-title-reviews a span{position:relative; margin-left:7px; top:-7px; font-size:14px; color:var(--wp--preset--color--links);}
    #comments .woocommerce-Reviews-title{display:none;}
    .commentlist,
    #review_form_wrapper{width:min(100%, 820px); margin-inline:auto; padding-top:32px;}
    .commentlist li:not(:first-child){border-top:none;}
    .commentlist li .comment_container{position:relative;}
    .commentlist li .comment_container img{border-radius:50%; position:absolute; top:0; left:0; display:var(--display--avatar);}
    .commentlist li .comment_container .comment-text{text-align:left; font-size:16px; padding-bottom:28px; margin:var(--margin--comment-text);}
    .commentlist li:not(:last-child) .comment_container .comment-text{border-bottom:1px solid #f0f0f0;}
    .commentlist li .comment_container .comment-text .star-rating{position:absolute; top:0; right:0;}
    .commentlist li .comment_container .comment-text .meta{display:grid;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__author{color:var(--wp--preset--color--title); font-size:18px; font-weight:400;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__dash{display:none;}
    .commentlist li .comment_container .comment-text .meta .woocommerce-review__published-date{color:#a1a1a1; font-size:var(--font-size--review--published-date);}
    .commentlist li .comment_container .comment-text .description{padding-top:19px; color:var(--wp--preset--color--text); font-size:var(--font-size--review--description);}
    #respond{padding-top:0;}
    #reply-title{display:block; font-size:24px; padding-bottom:34px;}
    .comment-form-rating{display:grid; margin-bottom:25px;}
    .comment-form-rating label{color:var(--wp--preset--color--title);}
    .required{color:var(--wp--preset--color--text);}

/* información meta */
.meta-wrapper{padding:20px 0 18px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; text-align:var(--text-align--meta); font-size:14px;}
.meta-wrapper .section .product_meta{display:var(--display--product-meta);}
.meta-wrapper .section .product_meta > span:not(:last-child){margin-right:14px;}
.meta-wrapper .section .product_meta span{color:var(--wp--preset--color--title); line-height:2;}
.meta-wrapper .section .product_meta span :is(span, a){color:#a1a1a1;}
.meta-wrapper .section .product_meta span a:hover{color:var(--wp--preset--color--links);}

/* star rating · puesta de calificación */
#review_form .comment-form-rating .stars {display:inline-block; height:28px; overflow:hidden; margin-bottom:0; margin-left:-7px;}
#review_form .comment-form-rating .stars span{display:block}
#review_form .comment-form-rating .stars a{position:relative; display:inline-block; color:inherit; width:23px; text-indent:-1000em; overflow:hidden}
#review_form .comment-form-rating .stars:hover a,
#review_form .comment-form-rating .stars.has-active a{color:#dc9814;}
#review_form .comment-form-rating .stars a:hover ~ a,
#review_form .comment-form-rating .stars.has-active a.active ~ a{color:inherit;}
#review_form .comment-form-rating .stars a:before {position:absolute; top:0; left:0; font-family:'nm-font'; font-size:28px; font-style:normal; font-weight:400; line-height:1; content:"\e606"; text-indent:0;}
.comment-form-rating .stars.selected span .star-1.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-2.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-3.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-4.active{color:#dc9814!important;}
.comment-form-rating .stars.selected span .star-5.active{color:#dc9814!important;}

/* productos relacionados */
.related.products{padding:var(--padding--related-products);}
.related.products h2{padding-bottom:28px;}