#main .container .section{width:min(100% - 30px, 1220px); margin-inline:auto;}

/* breadcrumb */
#main .container.breadcrumb-wrapper{background-color:var(--wp--preset--color--line); padding-top:20px;}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb{display:inline-flex; flex-wrap:wrap; gap:0 7px; font-size:14px;}
#main .container.breadcrumb-wrapper .section .woocommerce-breadcrumb a{color:var(--wp--preset--color--title);}

/* datos del producto */
#main .container.product-wrapper{background-color:var(--wp--preset--color--line);}

/* summary */
.woocommerce-product-rating .star-rating {
    position: relative;
    display: inline-block;
    line-height: 26px;
    width: 116px;
    height: 26px;
    overflow: hidden
}

.woocommerce-product-rating .star-rating:before,
.woocommerce-product-rating .star-rating span:before {
    position: absolute;
    top: 0;
    font-family: 'nm-font';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 26px
}

.woocommerce-product-rating .star-rating:before {
    left: 9px;
    content: "\e61f\e61f\e61f\e61f\e61f";
    font-size: 7px;
    color: #aaa;
    letter-spacing: 15px
}

.woocommerce-product-rating .star-rating span:before {
    left: 0;
    content: "\e606\e606\e606\e606\e606";
    font-size: 27px;
    color: #dc9814;
    letter-spacing: -5px
}

.woocommerce-product-rating .star-rating span {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 26px;
    overflow: hidden
}

/* star rating · calificación */
.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star
}

.woocommerce .star-rating::before {
    content: "\e606\e606\e606\e606\e606";
    color: #aaa;
    float: left;
    top: 0;
    left: 0;
    position: absolute
}

.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}

.woocommerce .star-rating span::before {
    content: "\e606\e606\e606\e606\e606";
    top: 0;
    position: absolute;
    left: 0
}

.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block
}

.woocommerce .woocommerce-product-rating::after,.woocommerce .woocommerce-product-rating::before {
    content: " ";
    display: table
}

.woocommerce .woocommerce-product-rating::after {
    clear: both
}

.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left
}

.woocommerce .products .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none
}

.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0
}
