/* lista de categorías */
#main .container .section .categories-list{padding:30px 0; list-style:none; width:100%;}
#main .container .section .categories-list li a:not(.active){color:var(--wp--preset--color--text);}
#main .container .section .categories-list li a:not(.active):hover{color:var(--wp--preset--color--links);}

/* rejilla */
#main .container .section .posts{display:grid; gap:40px; grid-template-columns:repeat(auto-fill, minmax(286px, 1fr)); padding-left:0;}
    /* posts */
    #main .container .section .posts .post{display:grid; gap:14px; align-content:flex-start;}
    #main .container .section .posts .post .thumbnail{width:100%; aspect-ratio:3/4; object-fit:cover; transition:all .3s ease;}
    #main .container .section .posts .post .thumbnail:hover{filter:brightness(.3);}
    #main .container .section .posts .post .publicate-date{position:relative; padding-left:51px; font-size:var(--wp--preset--font-size--small);}
    #main .container .section .posts .post .publicate-date:before{position:absolute; content:''; width:37px; height:1px; top:50%; left:0; background-color:#ccc;}
    #main .container .section .posts .post .permalink{display:inline-flex; gap:7px; align-items:center;}
    #main .container .section .posts .post .permalink svg{width:12px; height:12px;}

@media(min-width:768px){
    /* lista de categorías */
    #main .container .section .categories-list{padding:29px 0 39px; display:inline-flex; align-items:center;}
    #main .container .section .categories-list li{position:relative;}
    #main .container .section .categories-list li:not(:last-child):after{content:'/'; color:var(--wp--preset--color--border-input-focus);}
    #main .container .section .categories-list li:first-child a{margin-left:0;}
    #main .container .section .categories-list li a{font-size:18px; margin:0 17px;}
}

@media(min-width:1024px){
    /* lista de categorías */
    #main .container .section .categories-list{padding:29px 0 108px;}
}