/* generales */
#main .container .section .post{padding:68px 0 50px;}
#main .container .section .post *:not(.featured-picture){max-width:803px; margin-inline:auto;}
#main .container .section .post > *:not(:last-child){margin-bottom:24px;}

/* imagen destacada */
#main .container .section .post .featured-picture{width:100%; aspect-ratio:16/9; object-fit:cover;}
/* título */
#main .container .section .post .title{margin:44px auto 21px; text-align:center;}
/* autor y fecha de publicación */
#main .container .section .post .author-and-date{font-size:var(--wp--preset--font-size--small); text-align:center; margin-bottom:35px;}
#main .container .section .post .author-and-date span{color:var(--wp--preset--color--title);}
/* citas */
#main .container .section .post .wp-block-quote{max-width:651px;}
#main .container .section .post .wp-block-quote p{color:var(--wp--preset--color--title); text-align:center;}
/* imágenes */
    /* galería */
    #main .container .section .post .wp-block-image.size-full{width:100%;}
    #main .container .section .post .wp-block-gallery{display:grid; grid-template-columns:1fr 1fr;}
    .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image){width:100%;}