/* generales */
#main .container .section :is(.post, aside){padding-bottom:50px; max-width:803px; margin-inline:auto;}
#main .container .section .post > *:not(:last-child){margin-bottom:24px;}

/* imagen destacada */
#main .container .featured-picture{width:100%; aspect-ratio:16/9; object-fit:cover; max-width:921.29px; margin-inline:auto;}

/* contenido */
    /* título */
    #main .container .section .post .title{margin:44px auto 21px; text-align:center;}
    /* autor y fecha de publicación */
    #main .container .section .post .author-and-date{font-size:var(--wp--preset--font-size--small); text-align:center; margin-bottom:35px;}
    #main .container .section .post .author-and-date span{color:var(--wp--preset--color--title);}
    /* citas */
    #main .container .section .post .wp-block-quote{max-width:651px;}
    #main .container .section .post .wp-block-quote p{color:var(--wp--preset--color--title); text-align:center;}
    /* imágenes */
        /* galería */
        #main .container .section .post .wp-block-image.size-full img{width:100%;}
        #main .container .section .post .wp-block-gallery{display:grid; grid-template-columns:1fr 1fr;}
        .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image),
        .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2), 
        .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)~figure.wp-block-image:not(#individual-image){width:100%;}

/* aside */
#main .container .section aside{display:grid; gap:15px;}
    /* etiquetas y compartir */
    #main .container .section aside .tags-and-share{display:grid; grid-template-columns:1fr auto; gap:10px; align-content:start;}
        /* etiquetas */
        #main .container .section aside .tags-and-share .tags{display:inline-flex; flex-wrap:wrap; gap:7px;}
        #main .container .section aside .tags-and-share .tags a{position:relative; font-size:14px; background-color:var(--wp--preset--color--title); color:#fff; padding:5px 10px; border-radius:16.2px;}
        #main .container .section aside .tags-and-share .tags a:before{content:'#';}
        #main .container .section aside .tags-and-share .tags a:hover{background-color:var(--wp--preset--color--links);}
        /* compartir */
        #main .container .section aside .tags-and-share .share a{color:var(--wp--preset--color--text);}
        #main .container .section aside .tags-and-share .share a:hover{color:var(--wp--preset--color--title);}
        #main .container .section aside .tags-and-share .share a:not(:last-child){margin-right:20px;}
        #main .container .section aside .tags-and-share .share a svg{width:21px; height:21px;}
    /* categorías */
    #main .container .section aside .categories{display:inline-flex; gap:7px;}
    #main .container .section aside .categories .post-categories{display:inline-flex; flex-wrap:wrap; gap:7px;}
    #main .container .section aside .categories .post-categories li{position:relative;}
    #main .container .section aside .categories .post-categories li:not(:last-child):after{content:',';}
    #main .container .section aside .categories .post-categories li:last-child{content:'.';}

/* paginación */
#main .container.pagination-wrapper{border-top:1px solid #eee;}
#main .container .single-post-pagination{padding:44px 0; width:min(100% - 30px); display:flex; justify-content:space-between;}

@media(min-width:768px){
    /* generales */
    #main .container.post-wrapper{padding-top:68px;}

    /* imagen destacada */
    #main .container .featured-picture{aspect-ratio:16/9;}

    /* paginación */
    #main .container .single-post-pagination{padding:44px 0; width:min(100% - 60px); margin-inline:auto;}
}

@media(min-width:1024px){
    /* paginación */
    #main .container .single-post-pagination{width:min(100% - 120px);}
}